body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.headerComponents{
  margin: 0;

  font-size: 100px;
}


.loginForm{
  margin-top: 50px;
  text-align: center;
}

.loginForm div {
  margin-bottom: 30px;

}

.loginId input{
  width: 350px;
  height: 50px;

  font-size: 30px;
  color: #000000;
  background-color: #CDCDCD;

  border: none;
  text-align: center;
}

.loginPassword input{
  width: 350px;
  height: 50px;

  font-size: 30px;
  color: #000000;
  background-color: #CDCDCD;

  border: none;
  text-align: center;
}

button.submit{

  width: 150px;
  height: 35px;
  
  
  background-color: #CDCDCD;
  border: none;
  cursor: pointer; 
}

button.submit:hover{
  border: 2px solid black;
}

div.signup{
  margin-top: 30px;
}

.signup button{
  width: 150px;
  height: 35px;

  border: none;
  background-color: #CDCDCD;
  cursor: pointer;
}

.signup button:hover{
  border: 2px solid black;
}